[v-cloak] {
    display: none;
}

.bg-blue-500-to-right-purple-500,
%bg-blue-500-to-right-purple-500 {
    background: linear-gradient(
        to right, 
        theme('colors.blue.500') 0%,
        theme('colors.purple.500') 100%
    );
}

.cursor-grab {
    cursor: grab;
}

.cursor-grabbing {
    cursor: grabbing;
}
