$content-padding: 1rem;

.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: none;
    position: fixed;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &.active {
        display: flex;
    }
}

.modal-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    max-height: calc(100vh - #{$content-padding} * 2);

    &.h-full {
        min-height: calc(100vh - #{$content-padding} * 2);
    }
}
