$icon-sizes: (
    'large': 3rem
);

.icon {
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;

    @each $name, $size in $icon-sizes {
        &.#{$name} {
            width: $size;
            height: $size;
        }
    }
}
