@charset 'UTF-8';

@import 'base';
@import 'typography';
@import 'layout';
@import 'header';
@import 'body';
@import 'subcopy';
@import 'footer';
@import 'table';
@import 'button';

/* Panels */

/* .panel {
    margin: 0 0 21px;
}

.panel-content {
    background-color: #EDEFF2;
    padding: 16px;
}

.panel-item {
    padding: 0;
}

.panel-item p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
} */

@import 'helpers';
